<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li th:each="n, status : ${fn}">
        <span th:text="${status.index == 0 ? n + '🪙' : n}"></span>
    </li>
</ul>

<ul>
    <li th:each="n : ${fn}">
        <span th:switch = "${n}">
              <span  th:case="'Thorfin'"> [[${n}]] | Role : Imam</span>
              <span  th:case="'M1'"> [[${n}]]🪙 | Role : IBA Enthusiasm </span>
              <span  th:case="'No One'"> [[${n}]] | Role : Politician</span>
              <span  th:case="*"> [[${n}]] | Role : Boba Bahini</span>

        </span>

    </li>
</ul>

  <span th:if = "${gender} == 'f'">Female</span>
  <span th:unless= "${gender} == 'f'">Male</span>

<footer th:insert="footer :: footersec('','')"></footer>
</body>
</html>